venv/
__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

pip-freeze.txt
pipenv.lock

tokenizer
indexer
searcher
*.exe
*.out
*.o

*.txt
!requirements.txt

*.html
*.dat
*.tsv
*.idx

.DS_Store
Thumbs.db